@charset "utf-8";
//重置样式的

@import "../lib/core/reset";
@import "./core/common";
@import "./core/swiper-3.3.1.min.css";
// layout
body,html{
    width: 100%;
    height: 100%;
}
spa-app {
    position: absolute;
    overflow: hidden;
}

spa-view {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #eceef0 !important;
    @include flexbox(flex);
    @include flex-direction(column);
}


//引入自己的样式
@import "./module/index";
@import "./module/home";
@import "./module/my";
@import "./module/subsidy";
@import "./module/redemption";
@import "./module/zreoption";